@model BookingProject.Dal.Entities.Sliders

@{
    ViewData["Title"] = "CreateSliders";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<br />
<br />

<div class="container">
    <form method="post">
        <label>Slider Resimi</label>
        <input type="text" asp-for="ImageURL" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>