@model BookingProject.Dal.Entities.Testimonials

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateSliders</h1>


<br />
<br />
<form method="post">
    <label>Referans ID</label>
    <input type="text" asp-for="TestimonalsID" class="form-control" />
    <br />
    <label>Referans Ad Soyadı</label>
    <input type="text" asp-for="NameSurname" class="form-control" />
    <br />
    <label>Referans Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <button class="btn btn-success">Referansı Güncelle</button>
</form>