@model BookingProject.Dal.Entities.Services

@{
    ViewData["Title"] = "CreateSliders";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<br />
<br />

<div class="container">
    <form method="post">
        <label>Hizmet Başlığı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Hizmet Resimi</label>
        <input type="text" asp-for="Image" class="form-control" />
        <br />
        <label>Hizmet Açıklaması</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>