@model BookingProject.Dal.Entities.Fours

@{
    ViewData["Title"] = "UpdateSliders";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateSliders</h1>


<br />
<br />
<form method="post">
    <label>Four ID</label>
    <input type="text" asp-for="FoursID" class="form-control" />
    <br />
    <label>Four Resimi</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />
    <label>Four Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Four Fiyatı</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />

    <button class="btn btn-success">Fouru Güncelle</button>
</form>