@model List<BookingProject.Dal.Entities.Testimonials>

@{
    Layout = null;
}

<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Referanslar</span>
                    <h2>Müşterilerimizin Bizim Hakkımızda Dedikleri?</h2>
                </div>
            </div>
        </div>
        <div class="row">
         
                
            
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">
                       @foreach (var item in Model)
            {
                    <div class="ts-item">
                        <p>
                           @item.Description
                        </p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> -@item.NameSurname</h5>
                        </div>

                        <img src="~/hotel/sona-master/img/testimonial-logo.png" alt="">
                    </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</section>