
@{
    Layout = null;
}
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Bloglarımız</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="https://static.wixstatic.com/media/1ac626_62e14bb4d3f4413d8453210526e93aeb~mv2.jpg/v1/fill/w_640,h_584,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1ac626_62e14bb4d3f4413d8453210526e93aeb~mv2.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Tatil</span>
                        <h4><a href="#">Pasifik Gezisi Hakkında Merak Edilenler</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 15 Şubat 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="https://images.photowall.com/products/71310/sunrise-over-the-sea.jpg?h=699&q=85">
                    <div class="bi-text">
                        <span class="b-tag">Reklam</span>
                        <h4><a href="#">Maldivleri Türkiyeye Getirdik</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 1 Şubat 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="https://b2856545.smushcdn.com/2856545/wp-content/uploads/2022/08/sea-science.jpg?lossy=1&strip=1&webp=1">
                    <div class="bi-text">
                        <span class="b-tag">Deniz Tatili</span>
                        <h4><a href="#">120 Günlük Gemi Tatili Sadece 10 Bin Dolar</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 8 Şubat 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-item small-size set-bg" data-setbg="/hotel/sona-master/img/blog/blog-wide.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Hayvanlar</span>
                        <h4><a href="#">Siz Seyehatteyken Kedinizi Güvenli Bir Hayvan Oteline Vermeye Ne Dersiniz?</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 8 Nisan 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item small-size set-bg" data-setbg="https://lh3.googleusercontent.com/Bq-x8KyvjGs4FDTi6UYCiEfq8FyN1ovLJqJ17_XElrImwMwtoKpsrXDxXXo-x1vvV1pSRJLqh91MVk-C5bhbFxVf=w640-h400-e365-rj-sc0x00ffffff">
                    <div class="bi-text">
                        <span class="b-tag">Manzara</span>
                        <h4><a href="#">Bu Fotoğraf Akdeniz Kıyılarından Çıkmıştır.</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 10 Nisan 2024</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
