@model List<BookingProject.Dal.Entities.Abouts>

@{
    Layout = null;
}

<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Hakkında Us</span>
                        @foreach (var item in Model)
                        {
                            <h2>@item.Title</h2>
                        }
                      
                    </div>
                    <p class="f-para">
                        @foreach (var item in Model)
                        {
                            @item.Description
                        }
                    </p>
                   
                    <a href="#" class="primary-btn about-btn">Daha Fazla</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-6">
                                <img src="@item.Image1" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="@item.Image2" alt="">
                            </div>
                        }
                      
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>